rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /messages/{messageId} { // Change 'contacts' to 'messages'
      allow create: if true &&
                    request.resource.data.name is string &&
                    request.resource.data.phone is string &&
                    request.resource.data.message is string;
    }
    // ... other rules for different collections ...
  }
}